DATABASE_URL="postgresql://gt_user:Ubuntu@2026!Secure@localhost:5432/globaltransact"
PORT=3001
NODE_ENV=development

JWT_SECRET="qwebfrhjmvdsvvaiwkwviasv"
JWT_EXPIRES_IN="30m"
JWT_REFRESH_SECRET="dehrjvndsvaiwkwviasv"
JWT_REFRESH_EXPIRES_IN="7d"

SERVICE_JWT_SECRET="dev-service-secret-change-in-production"

REDIS_URL="redis://localhost:6379"

FOREX_SERVICE_URL="http://localhost:3002"
MOMO_SERVICE_URL="http://localhost:3003"
NOTIFICATION_SERVICE_URL="http://localhost:3004"

FRONTEND_URL="http://localhost,http://localhost:3000"
STALE_RATE_MINUTES=15

# Google OAuth
GOOGLE_CLIENT_ID="389884768222-tk88qqjducjnhdkrj3it26d6dq7ds8uu.apps.googleusercontent.com"